@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/

	.header_nav ul.top_mnu li
		margin-right: 5px
	.get_more_holder 
		.get_more_holder_box
			font-size: 13px
	.get_more_holder .get_more_holder_box:first-child:after
		right: -42px
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.slogan_header
		margin-bottom: 40px
		text-align: right
	.slider_holder .slide_inner img
		height: 470px
	.slider_wrap .info_box
		margin-top: 30px
	#form_feadback
		.input_holder:last-child
			margin-top: 20px
	.footer_logo
		text-align: center
	.social_footer
		margin-top: 30px
	footer .footer_nav ul
		margin-left: 0px
	a.open-navigation.ssm-toggle-nav.ssm-nav-visible
		display: block
	.cart_tovar_holder
		position: fixed
		width: 100%
		top: 0
		text-align: center
		left: 0
		height: 100%
		.cart_tovar_holder_buts
			margin-top: 30px
		.cart_tovar_holder_title
			font-size: 22px
		.box_item_holder
			height: 250px
		.cart_tovar_holder_wrap
			height: calc(100% - 25%)
	.cart_wrap
		position: fixed
		z-index: 2222
		top: 25%
		right: 0
		margin-right: -137px
		border-radius: 5px 0 0 5px
		padding: 10px
		background: #414141
	nav.header_nav
		height: 100%
		width: 280px
		background: #646b7c
		border-right: 4px solid #cc9db8
		left: 0
		top: 0
		z-index: 2222222222
		position: fixed
		overflow-y: auto
		overflow-x: visible
		transform: translate(-280px,0)
		.top_mnu
			align-items: center
			flex-flow: column wrap
			border-bottom: 4px solid #cc9db8
			padding-left: 0px
			li:after
				display: none
			li
				margin: 10px 0px
	.mobile_holder,
	.close_icon
		display: block
	.model_any_colors ul
		flex-flow: row wrap
		justify-content: center
	.filter_holder
		flex-wrap: wrap
	.filter_content_product ul, .show_more ul
		flex-wrap: wrap
	
	.header_holder
		justify-content: flex-end
	.blog_tabs_wrap
		margin-left: 0
	form#form_feadback
		.input_holder
			margin-bottom: 20px
	.get_more_holder
		flex-flow: column wrap
	.get_more_holder .get_more_holder_box:first-child
		width: 100%
		justify-content: center
		&:after
			display: none
	.get_more_holder .get_more_holder_box
		width: 100%
		justify-content: center
	.table_td
		font-size: 14px
	.cart_wrap_inner_table_holder_inner
		overflow: scroll
		overflow-y: hidden
	.table_cart_tbody,
	.cart_wrap_inner_table_articul
		width: 200%
	.cart_wrap_inner_table
		padding: 0
	span.icon_drop
		display: block
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.person_container
		text-align: center
	.reviews_persons_holder_slider .next_button,	
	.clients_slider .next_button,
	.slider_hot_sell_wrap .next_button,
		right: 10px
	.slider_hot_sell_wrap .prev_button,
	.clients_slider .prev_button,
	.reviews_persons_holder_slider .prev_button
		left: 10px
	section.reviews_persons
		margin-bottom: 30px
	.reviews_persons_holder_slider .owl-pagination
		bottom: -50px
	footer
		text-align: center
		.footer_contact .contact_holder.soc
			justify-content: center
			align-items: center
		.social_footer
			display: inline-block
	.model_any_colors ul
		flex-flow: row wrap
		justify-content: center
		li
			margin-right: 0
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important
	.slider_wrap .info_box_form
		position: initial
		justify-content: center
		margin: 20px auto
	
	.header_nav ul.top_mnu 
		li
			text-align: center
			width: 100%
			a
			font-size: 18px
	.header_nav ul.drop_down
		position: initial
		background: #414141
		width: 100%
		flex-flow: column wrap
		li a 
			font-size: 14px
	.blog_tabs_wrap
		margin-left: 0
		flex-flow: column wrap
		text-align: center
	.content_blog.single .box_holder_blog .box_holder_blog_wrap_inner
		padding: 0 40px
	.slider_conntent_wrap .counter_boxes
		display: none
	.content_blog.single .box_holder_blog .slider_conntent .prev_button
		left: -30px
	.content_blog.single .box_holder_blog .slider_conntent .next_button
		right: -30px
	.title h3
		font-size: 22px
	.qustion_block .qustion_block_holder
		padding: 55px 10px
	.promokod_info
		flex-flow: column wrap
	.buts_holder
		flex-flow: column wrap
		.buts_more
			margin-bottom: 20px
			margin-right: 0
	.promokod_info .promokod_holder
		margin-bottom: 20px 
		.get_promo a
			padding: 5px 25px
	.title_wrap
		flex-flow: column wrap
	.breadcrumbs ul
		padding: 0
		flex-flow: row wrap
	.cart_table_progress ul
		flex-flow: column wrap
		justify-content: center
		align-items: center
		li:after
			display: none
	.box_went .input_holder select
		width: 280px
	.kabine_stol
		padding-left: 0
	.coments_product , .descr_product,
	.coment_holder .stars_holder
		flex-flow: column wrap
	.description_kartochka_slider ul li p
		word-wrap: break-word
	.coments_product .coment_holder p
		width: 300px
		word-wrap: break-word
	.box_sotrudn
		flex-flow: column wrap
		align-items: center
	.get_send_info
		margin-left: 0
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.slider_wrap .info_box
		position: initial
		.slogan_company
			position: absolute
			top: 80px
			margin-left: 0px
		.form_price
			margin: 0 auto
	.slider_wrap .info_box_form
		position: initial
		.slogan_company
			position: absolute
			top: 80px
			margin-left: 0px
		.form_price
			margin: 0 auto
	.slider_holder .slide_inner img
		width: 100%
		height: 400px
		object-fit: cover
	.reviews_persons_holder .text_holder
		width: 100%
	.get_info_wrap
		padding: 70px 20px
	.get_info_wrap .person_slogan .person_slogan_title
		font-size: 22px
	.logo_top
		img
			width: 95%
	.contact_top .feadback p a, .mobile_holder .feadback p a
		font-size: 16px
	.content_blog.single .box_holder_blog .box_holder_blog_wrap_inner
		padding: 0 20px
	.promokod_info .promokod_holder .finel_sum p
		font-size: 14px
	.get_more_holder .get_more_holder_box
		padding: 15px
		margin: 0
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
.cart_tovar_holder .cart_tovar_holder_title
	padding-top: 0

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

