@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here
@import "header.sass"

// slider indet top
.slider_wrap
	margin-top: 35px
	.info_box
		position: absolute
		top: 0px
		left: 0px
		display: flex
		justify-content: flex-start
		width: 100%
		margin-top: 80px
	.info_box_form
		position: absolute
		top: 0px
		left: 0px
		display: flex
		justify-content: flex-end
		width: 100%
		margin-top: 80px
.banner_holder
	position: relative
.form_price
	background: #646b7c
	width: 100%
	max-width: 275px
	padding: 25px
	.input_holder
		margin-bottom: 20px
		width: 100%
		input,select
			width: 100%
			background: transparent
			font-size: 16px
			line-height: 24px
			border: 0
			color: #fff
			border-bottom: 1px solid #fff
			&::placeholder
				color: #fff
		option
			background: #646b7c
	.info_form
		display: flex
		align-items: center
		margin-top: 20px
		margin-bottom: 40px
		.icon_info_form
			width: 29px
			height: 33px
			display: block
			background: url(../img/icon_set.png) no-repeat
			background-position: 0 -37px
			margin-right: 10px
		p
			font-size: 24px
			color: #fff
			line-height: 28px
	.submit_holder
		margin-top: 50px
		margin-bottom: 30px
		input
			border: 4px solid $lpc
			border-radius: 25px
			background: transparent
			color: $lpc
			padding: 10px 15px
			width: 100%
			max-width: 220px
			margin: 0 auto
			transition: all 0.75s
			&:hover
				background: $lpc
				color: #fff
.hott_sale
	margin-bottom: 50px
.slogan_company
	margin-left: 70px
	h3
		background: rgba(0,0,0,.35)
		color: #fff
		font-size: 34px
		line-height: 44px
		margin-bottom: 10px
		margin-top: 0px
.slider_holder
	width: 100%
	margin-right: 30px
	.slide_inner
		img
			width: calc(100% - 30px	)
			height: 580px
	.owl-pagination
		text-align: center
		position: absolute
		bottom: 30px
		left: 50%
		transform: translateX(-50%)
	.owl-page
		display: inline-block
		width: 13px
		height: 13px
		border-radius: 50%
		border: 1px solid #fff
		margin-right: 6px
		padding: 2px
		position: relative
	.owl-page.active
		span
			border-radius: 50%
			background: #fff
			width: 100%
			height: 100%
			float: left
			padding: 1px
.title
	text-align: center
	margin: 30px 0
	h3
		font-size: 35px
		line-height: 41px
.slider_hot_sell_inner
	border: 1px solid transparent
	text-align: center
	height: 100%
	min-height: 375px
	position: relative
	display: flex
	flex-flow: column wrap
	justify-content: flex-end
	align-items: center
	overflow: hidden
	.icon_like
		cursor: pointer
		position: absolute
		top: 15px
		right: 10px
		width: 21px
		height: 19px
		display: block
		background: url(../img/icon_set.png) no-repeat
		background-position: -69px -34px
		opacity: 0
	.icon_cart_sl
		cursor: pointer
		position: absolute
		top: 12px
		right: 40px
		width: 21px
		height: 19px
		display: block
		background: url(../img/icon_set.png) no-repeat
		background-position: -168px -31px
		opacity: 0
	.product_title
		color: $dc
		font-size: 18px
		line-height: 22px
		margin-top: 25px
		margin-bottom: 25px
	.reviews_product
		opacity: 0
		a
			display: flex
			justify-content: center
			align-items: center
			p
				color: #cc9db8
				font-size: 15px
				line-height: 22px			
			.icon_reviews
				cursor: pointer
				display: block
				height: 19px
				width: 21px
				top: 15px
				margin-right: 10px
				background: url(../img/icon_set.png) no-repeat
				background-position: -40px -34px
	.img_holder
		img
			width: 100%
			max-width: 220px
	&:hover
		border: 1px solid $lpc
		.icon_like
			opacity: 1
		.reviews_product
			opacity: 1
		.icon_cart_sl
			opacity: 1
.slider_hot_sell_wrap
	.next_button
		right: -50px
		&:before
			content: ''
			background: url(../img/icon_set.png) no-repeat
			width: 40px
			height: 64px
			display: block
			background-position: 0px -88px
			transform: rotate(180deg)
	.prev_button
		left: -50px
		&:before
			content: ''
			background: url(../img/icon_set.png) no-repeat
			width: 40px
			height: 64px
			display: block
			background-position: 0px -88px
	.prev_button,
	.next_button
		position: absolute
		top: 50%
		transform: translateY(-50%)
// counter index page
.counter_numbers_wrap
	background: #a82553
	padding: 55px 0px
	color: #fff
	.numbers_box
		display: flex
		align-items: center
		justify-content: center
		flex-flow: column wrap
		.label
			text-align: center
	.spincrement
		font-family: "Magnolia"
		font-size: 65px
.counter_title
	text-align: center
	h3
		color: #fff
		font-size: 30px
		width: 100%
		max-width: 525px
		margin: 
			top: 0px
			right: auto
			bottom: 50px
			left: auto
//slider years
.hott_sale.year_product
	.slider_hot_sell_inner
		&:hover
			border: 1px solid #e0edf3
	.slider_hot_sell_wrap
		.next_button
			&:before
				content: ''				
				background-position: 0 -151px
		.prev_button
			&:before
				content: ''
				background-position: 0 -151px
		.icon_like
			background-position: -69px -60px
// info block (person)
.get_info_wrap
	background: #f0f4f8
	padding: 70px
	.person_container
		margin-right: 20px
		img
			width: 100%
			max-width: 257px
		.title_person
			margin: 15px 0px
			p
				color: #000
				font-size: 16px
				line-height: 22px
	.person_slogan
		.person_slogan_title
			font-size: 35px
			line-height: 40px
			color: #000
			margin-bottom: 20px
		.person_slogan_text_holder
			background: #fbf8fa
			padding: 20px 30px
			height: 305px
			overflow-y: scroll
			p
				color: #000
				font-size: 16px
				line-height: 22px
.reviews_persons_holder
	display: flex
	justify-content: center
	flex-flow: row wrap
	align-items: flex-start
	position: relative
	.text_holder
		width: 40%
		margin-left: 50px
		h3
			margin-top: 0px
	.img_holder
		width: 275px
		height: 275px
		overflow: hidden
		border-radius: 50%
		img
			width: 100%
			object-fit: cover
.reviews_persons_holder_slider
	.owl-pagination
		text-align: center
		position: absolute
		bottom: 30px
		left: 50%
		transform: translateX(-50%)
	.owl-page
		display: inline-block
		width: 21px
		height: 21px
		border-radius: 50%
		border: 1px solid $lpc
		margin-right: 6px
		padding: 2px
		position: relative
	.owl-page.active
		span
			border-radius: 50%
			background: $lpc
			width: 100%
			height: 100%
			float: left
			padding: 1px
	.next_button
		right: -50px
		&:before
			content: ''
			background: url(../img/icon_set.png) no-repeat
			width: 40px
			height: 64px
			display: block
			background-position: 0px -88px
			transform: rotate(180deg)
	.prev_button
		left: -50px
		&:before
			content: ''
			background: url(../img/icon_set.png) no-repeat
			width: 40px
			height: 64px
			display: block
			background-position: 0px -88px
	.prev_button,
	.next_button
		position: absolute
		top: 50%
		transform: translateY(-50%)
.clients_slider
	text-align: center
	background: #fbf8fa
	padding: 
		top: 130px
		bottom: 75px
	position: relative
	.next_button
		right: -50px
		&:before
			content: ''
			background: url(../img/icon_set.png) no-repeat
			width: 40px
			height: 64px
			display: block
			background-position: 0px -88px
			transform: rotate(180deg)
	.prev_button
		left: -50px
		&:before
			content: ''
			background: url(../img/icon_set.png) no-repeat
			width: 40px
			height: 64px
			display: block
			background-position: 0px -88px
	.prev_button,
	.next_button
		position: absolute
		top: 50%
		transform: translateY(-50%)
.qustion_block
	.title
		color: #fff
		margin-bottom: 25px
	.qustion_block_holder
		background: #646b7c
		padding: 55px 0px
		margin-bottom: 40px
		.description_question
			margin-bottom: 40px
			p
				color: #fff
				text-align: center
		#form_feadback
			display: flex
			justify-content: center
			align-items: center
			flex-flow: row wrap
			.input_holder
				margin-right: 20px
				width: 100%
				max-width: 240px
				&:last-child
					margin-right: 0px
					max-width: 330px
				input
					border: 0px
					width: 100%
					border-bottom: 1px solid #fff
					background: transparent
					&::placeholder
						color: #fff
				input[type="submit"]
					border: 4px solid $lpc
					border-radius: 25px
					color: $lpc
					padding: 4px 0px
					transition: all 0.75s
					&:hover
						background: $lpc
						color: #fff
.some_text_holder
	font-size: 13px					
footer
	background: url(../img/footer_bg.png) no-repeat center center
	width: 100%
	height: 100%
	background-size: cover
	padding: 55px 0px
	padding-bottom: 80px
	.footer_nav
		margin-top: 40px
		ul
			margin: 0
			margin-left: 87px
			padding: 0
			li
				list-style-type: none
				a
					color: #fff
	.footer_contact
		margin-top: 40px
		.contact_holder
			.label_text
				color: #fff
				line-height: 28px
				position: relative
			.contact_text
				a
					color: $lpc
					.icon_vib,
					.icon_wats
						width: 25px
						height: 28px
						display: block
						background: url(../img/icon_set.png) no-repeat
						transition: all 0.75s
						&:hover
							filter: contrast(55%)
					.icon_vib							
						background-position: -137px 0px
						margin-right: 15px
					.icon_wats
						background-position: -175px 0px
			&:first-child
				.contact_text
					a
						color: #fff
			&.soc
				display: flex
			&:first-child
				.label_text:before
					content: ''
					width: 20px
					height: 28px
					position: absolute
					top: 0
					left: -35px
					display: block
					background: url(../img/icon_set.png) no-repeat
					background-position: -95px -30px
			&:nth-child(2)
				.label_text:before
					content: ''
					width: 20px
					height: 28px
					position: absolute
					top: 0
					left: -35px
					display: block
					background: url(../img/icon_set.png) no-repeat
					background-position: -117px -30px
			&:nth-child(4)
				.label_text:first-child:before
					content: ''
					width: 20px
					height: 28px
					position: absolute
					top: 0
					left: -35px
					display: block
					background: url(../img/icon_set.png) no-repeat
					background-position: -137px -30px
.social_footer
	margin-top: -30px
	.title_social_footer
		margin-bottom: 35px
		p
			color: #fff
			font-size: 20px
			line-height: 20px
	#social_form
		.input_holder
			margin-bottom: 15px
			input
				border: 0
				border-bottom: 1px solid #fff
				background: transparent
				color: #fff
				&::placeholder
					color: #fff
			input[type="submit"]
				border: 4px solid $lpc
				color: $lpc
				width: 100%
				max-width: 235px
				border-radius: 25px
				padding: 5px 0px
				transition: all 0.75s
				&:hover
					background: $lpc
					color: #fff
	ul.get_social		
		margin: 0
		margin-top: 35px
		padding: 0
		display: flex
		flex-flow: row wrap
		align-items: center
		li
			color: #fff
			margin-right: 10px
			list-style-type: none
			a
				.icon_social
					width: 20px
					height: 20px
					display: block
					background: url(../img/icon_set.png) no-repeat
					background-position: -133px -57px
					transition: all 0.75s
					&:hover
						filter: contrast(35%)
			&:nth-child(2)
				a
					.icon_social
						background-position: -116px -57px
			&:last-child
				margin-right: 0
				a
					.icon_social
						background-position: -94px -57px

a.open-navigation.ssm-toggle-nav.ssm-nav-visible
	display: none
.mobile_mnu_lines
	display: flex
	height: 41px
	flex-flow: column wrap
	justify-content: center
	width: 30px
	margin: 0 auto
	span
		height: 2px
		width: 100%
		max-width: 30px
		background: $lpc
		margin-bottom: 5px
.mobile_holder
	padding: 20px 0px
	text-align: center
	display: none
	.searh_top 
		margin: 0px 15px
		margin-bottom: 10px
		
		input
			border-bottom: 1px solid #fff
	.feadback p
		text-align: center
	ul
		justify-content: center
	.footer_contact
		margin-top: 10px
		.contact_holder
			.label_text
				color: #fff
				line-height: 28px
				position: relative
			.contact_text
				a
					color: $lpc
					.icon_vib,
					.icon_wats
						width: 25px
						height: 28px
						display: block
						background: url(../img/icon_set.png) no-repeat
						transition: all 0.75s
						&:hover
							filter: contrast(55%)
					.icon_vib							
						background-position: -137px 0px
						margin-right: 15px
					.icon_wats
						background-position: -175px 0px
			&:first-child
				.contact_text
					a
						color: #fff
			&.soc
				display: flex
			&:first-child
				.label_text:before
					content: ''
					width: 20px
					height: 28px
					position: absolute
					top: 0
					left: -35px
					display: block
					background: url(../img/icon_set.png) no-repeat
					background-position: -95px -30px
			&:nth-child(2)
				.label_text:before
					content: ''
					width: 20px
					height: 28px
					position: absolute
					top: 0
					left: -35px
					display: block
					background: url(../img/icon_set.png) no-repeat
					background-position: -117px -30px
			&:nth-child(4)
				.label_text:first-child:before
					content: ''
					width: 20px
					height: 28px
					position: absolute
					top: 0
					left: -35px
					display: block
					background: url(../img/icon_set.png) no-repeat
					background-position: -137px -30px	
	.footer_logo
		margin: 25px auto
		padding-top: 25px
		border-top: 2px solid $lpc
.close_icon
	position: absolute
	right: 10px
	z-index: 222
	color: #fff
	font-size: 18px
	display: none
// cart header
.header_holder
	display: flex
	justify-content: space-between
.cart_wrap
	display: flex
	color: #fff
	line-height: 41px
	font-size: 14px
	position: relative
	.cart_counter
		p
			display: flex
			align-items: center
			margin-right: 5px
			font-size: 14px
			color: $lpc
			font-family: "TornadoMed"
			.icon_cart
				width: 20px
				height: 23px
				display: block
				cursor: pointer
				background: url(../img/icon_set.png) no-repeat
				background-position: -168px -31px
	.cart_price
		color: #5b5b5b
// content header title
.title_wrap
	display: flex
	justify-content: flex-start
	align-items: center
	margin-bottom: 10px
	h2
		font-size: 34px
		line-height: 44px
		font-family: "TornadoLight"
		font-weight: 400
		margin-right: 15px

// breadcrumbs
.breadcrumbs
	ul
		display: flex
		li
			list-style-type: none
			margin-right: 5px
			color: #d0d0d0
			&:after
				content: '→'
				color: #d0d0d0
				margin-left: 5px
			&:last-child
				margin-right: 0px
				&:after
					display: none
			a
				color: #d0d0d0
				text-decoration: underline
				&:hover
					text-decoration: none
// sidebar
.product_name
	margin-bottom: 20px
	.product_name_title
		color: #414141
		font-size: 18px
		font-family: "TornadoMed"
	ul
		padding-left: 20px
		margin: 0 0
		li
			list-style-type: none
			a
				color: #414141
				&:hover
					color: #a82553
					font-weight: 900
					text-decoration: none
			span
				font-size: 14px
				color: #aeaeae
				margin-left: 10px
.content_wrapper
	.some_text_holder
		margin-bottom: 40px
	// colors
	.colors_product
		display: flex
		flex-flow: row wrap
		max-width: 160px
		padding-left: 0px
		li
			width: 23px
			height: 23px
			margin-right: 7px
			margin-bottom: 7px
			&:last-child
				margin-right: 0px
			&:nth-child(5)
				margin-right: 0px
			input[type=checkbox]
				display: none
			input[type=checkbox]:checked + label
				box-shadow: inset 1px 1px 5px 3px rgba(0,0,0, 0.75)
			label
				background: #ccc
				display: block
				width: 23px
				height: 23px
				cursor: pointer
				&:hover
					box-shadow: inset 1px 1px 1px 1px rgba(0,0,0, 0.75)
			&:nth-child(1) label
				background: #f9ec7b
			&:nth-child(2) label
				background: #f49631
			&:nth-child(3) label
				background: #df1111
			&:nth-child(4) label
				background: #8d1841
			&:nth-child(5) label
				background: #421eca
			&:nth-child(6) label
				background: #f9f9f9
			&:nth-child(7) label
				background: #e0d7cb
			&:nth-child(8) label
				background: #a9a9a9
			&:nth-child(9) label
				background: #181818
			&:nth-child(10) label
				background: #53a16e
.product_name_art
	p
		border-bottom: 1px solid #dcdcdc
		color: #dcdcdc			
.sidebar
	padding-right: 80px
// datepicker
#range_piecker
	background: #dcdcdc
	.ui-slider-handle
		border: 1px solid $lpc
		background: #fff
		border-radius: 50%
		
	.ui-slider-range
		background: $lpc
	.ui-widget.ui-widget-content
		border: 0
	.amount_holder
		input
			position: absolute
			top: -25px
			border: 1px solid $lpc
			font-size: 12px
			width: 50px
			height: 15px
			color: $lpc
			font-family: "TornadoLight"
			border-radius: 4px
			text-align: center
			&:placeholder
				color: $lpc
		&::before,
		&::after
			content: ''
			position: absolute
			left: 2px
			bottom: 18px
			border: 5px solid transparent
			border-top: 5px solid $lpc
		&:before
			content: ''
			border-top: 5px solid white
			bottom: 20px
			z-index: 1
		&:first-child
			input
				left: -20px
		&:last-child
			input
				right: -20px
.filter_holder
	display: flex
	justify-content: space-between
	margin-bottom: 50px
.filter_content_product,
.show_more
	display: flex
	span
		margin-right: 10px
	ul
		display: flex
		margin: 0
		padding: 0
		li
			list-style-type: none
			margin-right: 5px
			cursor: pointer
			&:last-child
				margin-right: 0px
			&.active
				color: #a82553
				font-weight: 900
// product
.product_holder
	display: flex
	flex-flow: column wrap
	justify-content: center
	align-items: center
	margin: 30px auto
	.img_holder
		width: 220px
		height: 220px
		img
			width: 100%
	.product_title
		font-size: 18px
		color: #414141
		margin-bottom: 15px
	.product_price
		font-size: 18px
		color: #414141
		margin-bottom: 15px
	.rozn_cost,
	.prod_doxod
		display: flex
		justify-content: space-around
		width: 100%
		color: #a1a1a1
		line-height: 18px
		span
			margin-left: 10px
			font-size: 13px
	.but_more
		margin-top: 20px
		a
			border: 4px solid $lpc
			padding: 5px 35px
			display: block
			font-size: 16px
			color: $lpc
			transition: all 0.75s
			border-radius: 25px
			&:hover
				background: $lpc
				color: #fff
				text-decoration: none
// pagination
.pagination
	display: inline-block
	width: 100%
	ul
		display: flex
		flex-flow: row wrap
		justify-content: center
		align-items: center
		width: 100%
		li
			list-style-type: none
			color: #414141
			margin-right: 20px
			a
				color: #414141
			&.curent
				a
					background: #e9ecf0
					border-radius: 50%
					padding: 2px 5px
			&:last-child
				margin-right: 0px
.previos_choise
	margin: 40px auto
	.label_previos
		font-size: 18px
		color: #414141
	.previos_choise_wrap
		display: flex
		flex-flow: row wrap
		justify-content: space-between
		align-items: center
		.previos_holder
			text-align: center
			.img_hodler
				width: 153px
				height: 153px
				overflow: hidden
				img
					width: 100%
					transition: all 0.75s
			&:hover
				img
					transform: scale(1.2)
			.title_previos
				font-size: 16px
				color: #414141
				margin-top: 10px
.icon_new
	position: absolute
	top: 0px
	left: 0px
	background: #a82553
	color: #fff
	font-size: 10px
	padding: 0px 10px
	text-transform: uppercase
	display: inline-block
	&:after
		content: ''
		display: block
		position: absolute
		right: -6px
		top: 0px
		width: 0
		height: 0
		border-style: solid
		border-width: 16px 6px 0 0
		border-color: #a82553 transparent transparent transparent
// slider

.lSSlideWrapper.usingCss
	border: 1px solid $lpc
.slider_kartochkra_inner
	position: relative
	.icon_new
		z-index: 2
		font-size: 18px
		top: 10px
		&:after
			border-width: 29px 6px 0 0
	.icon_like
		cursor: pointer
		z-index: 2
		position: absolute
		top: 15px
		right: 10px
		width: 21px
		height: 19px
		display: block
		background: url(../img/icon_set.png) no-repeat
		background-position: -69px -34px
	.icon_zoom
		cursor: pointer
		z-index: 2
		position: absolute
		bottom: 15px
		right: 10px
		width: 55px
		height: 55px
		pointer-events: none
		display: block
		background: url(../img/icon_set.png) no-repeat
		background-position: -52px -88px
li.lslide
	position: relative
	display: flex
	justify-content: center
	align-items: center
	height: 100%
	img
		width: 100%
		height: 100%
		object-fit: cover
	a
		width: 100%
.description_kartochka_slider
	ul
		padding: 0
		li
			list-style-type: none
			p
				color: #414141
				font-size: 18px
				margin-bottom: 20px
				span
					margin-left: 5px
				&:last-child
					margin-bottom: 0px
					margin-top: 
				&+p
					margin-bottom: 0px
.calk_customize
	display: flex
	.plus, .minus
		width: 38px
		height: 38px
		color: #fff
		background: $lpc
		font-size: 23px
		text-align: center
		cursor: pointer
		&:active
			background: lighten($lpc,5%)
	input
		width: 38px
		height: 38px
		color: $lpc
		background: #fff
		text-align: center
.buts_holder
	display: flex
	justify-content: flex-start
	align-items: center
	.but_add_cart
		margin-top: 20px
		margin-right: 20px
		a
			border: 4px solid $lpc
			padding: 5px 35px
			display: block
			font-size: 16px
			color: $lpc
			transition: all 0.75s
			border-radius: 25px
			&:hover
				background: $lpc
				color: #fff
				text-decoration: none
	.but_add_rozn
		margin-top: 20px
		a
			color: $lpc
			font-size: 16px
.widget_holder
	display: flex
	.but_cust,
	.but_share
		margin-right: 25px
		margin-top: 30px
		a
			color: $lpc
			span
				margin-right: 15px
				font-size: 18px
		&:last-child
			margin-right: 0
.model_any_colors
	margin-top: 50px
	ul
		margin: 0
		display: flex
		justify-content: flex-start
		li
			list-style-type: none
			margin-right: 50px
			&:last-child
				margin-right: 0
.stars_holder_inner
	background: url(../img/icon_default_star.png) no-repeat
	width: 100%
	height: 22px	
	max-width: 122px
	min-width: 122px
	display: block
	margin: 0 10px
	.stars_single
		background: url(../img/icon_star.png) repeat-x
		height: 22px
		width: 100%
		max-width: 122px
		display: block
.descr_product
	display: flex
	flex-flow: row wrap
	justify-content: flex-start
	.stars_holder
		display: flex
.coments_product
	display: flex
	justify-content: flex-start
	align-items: flex-start
	margin-bottom: 40px
	.img_holder
		margin-right: 30px
	.coment_holder
		display: flex
		justify-content: flex-start
		flex-flow: column wrap
		.stars_holder
			display: flex
			justify-content: flex-start
		.name_person
			margin-bottom: 25px
		p
			color: #aeaeae
		.text_person
			margin-top: 25px
			width: 100%
			max-width: 780px
			p
				color: #414141
.rating
	label
		position: relative
		display: inline
		float: left
		z-index: 1
		width: 5px
		height: 16px
		margin-left: -22px
.rating 
	input[type=radio]
		z-index: 2
		display: inline
		float: left
		width: 22px
		height: 25px
		opacity: 0
.star
	background: url(../img/icon_rating_set.png)  0 -26px no-repeat
	height: 25px
	width: 22px
	z-index: 1
	position: absolute
	top: 0
	display: block
	cursor: pointer
    left: 0
.rating:hover .star
    background-position: 0 -26px
input:checked ~ label .star
    background-position: 0 0
input:checked + label .star
    background-position: 0 -26px
label:hover ~ label .star
    background-position: 0 0 !important
.form_coment
	form
		display: flex
		flex-flow: column wrap
		.title_descr
			font-size: 22px
			color: #414141
			line-height: 36px
			font-weight: 900
			margin-bottom: 30px
		.input_holder
			margin-bottom: 20px
			input[type=text]
				border: 0
				border-bottom: 2px solid #414141
				color: #414141
				width: 100%
				max-width: 300px
				&::placeholder
					color: #414141
			textarea
				background: #f4f7fa
				padding: 15px 20px
				border: 0px
				width: 100%
				resize: none
				max-width: 780px
				min-height: 100px
			input[type=submit]
				border: 4px solid $lpc
				padding: 5px 35px
				display: block
				background: transparent
				font-size: 16px
				color: $lpc
				transition: all 0.75s
				border-radius: 25px
				width: 240px
				&:hover
					background: $lpc
					color: #fff
					text-decoration: none
.rules_coment
	margin-bottom: 120px
	.rules_coment_title
		font-size: 22px
		line-height: 36px
		font-weight: 900
		color: #414141
		margin-bottom: 20px
	ul
		li
			color: #414141
			list-style-type: none
			&:before
				content: '-'
				margin-right: 10px
				font-size: 20px
// tabs
.blog_tabs
	display: flex
	padding: 0
	li
		color: #414141
		font-size: 18px
		list-style-type: none
		margin-right: 20px
		&.active
			color: #a82553
			font-weight: 900
		&:last-child
			margin-right: 0
.blog_tabs_wrap
	display: flex
	margin-left: 160px	
	margin-bottom: 50px
	ul
		li
			list-style-type: none
			span
				color: #aeaeae
				font-size: 14px
				margin-left: 10px
// blog_box
.box_holder_blog
	margin-bottom: 55px
	.box_holder_blog_head
		display: flex
		justify-content: space-between
		.box_holder_date
			font-size: 14px
			color: #a1a1a1
		.box_holder_count
			display: flex
			font-size: 14px
			color: #a1a1a1
			.icon_count
				color: $lpc
				margin-right: 15px
	.box_holder_thumb
		margin-bottom: 20px
		overflow: hidden
		img
			width: 100%
			min-height: 300px
			object-fit: cover
			transition: all 0.75s
	.box_holder_title
		font-size: 18px
		margin-bottom: 15px
		color: #414141
	.box_holder_descr
		color: #414141
	a:hover
		text-decoration: none
		img
			filter: contrast(130%)
			transform: scale(1.1)
.content_blog
	padding-bottom: 150px
.content_blog.single
	padding-bottom: 0
	.box_holder_blog
		.box_holder_blog_head
			display: flex
			justify-content: flex-start
		.box_holder_blog_wrap_inner
			padding: 0 80px
			p
				width: 100%
				word-wrap: break-word
		.thumb_single
			img
				width: 100%
				object-fit: cover
				max-height: 650px
		.slider_conntent
			.box_holder
				img
					width: 100%
					max-height: 480px
					object-fit: cover
			.next_button
				right: -90px
				&:before
					content: ''
					background: url(../img/icon_set.png) no-repeat
					width: 40px
					height: 64px
					display: block
					background-position: 0 -151px
					transform: rotate(180deg)
			.prev_button
				left: -90px
				&:before
					content: ''
					background: url(../img/icon_set.png) no-repeat
					width: 40px
					height: 64px
					display: block
					background-position:  0 -151px
			.prev_button,
			.next_button
				position: absolute
				top: 50%
				transform: translateY(-50%)
	.slider_hot_sell_wrap
		margin-bottom: 20px
.slider_conntent_wrap
	position: relative
	.counter_boxes
		display: flex
		position: absolute
		right: -70px
		top: 50%
		transform: translateY(-50%)
		input
			width: 20px
			height: 25px
			font-size: 18px
			border: 0
			color: #000000
			background: transparent
		span
			margin-right: 5px
			font-size: 18px
			color: #000000
			margin-top: -3px
.input_chek
	flex: 1 1 100%
	display: flex
	justify-content: center
	margin-top: 30px
	label
		color: #e0edf3
		font-size: 14px
	input[type=radio]
		vertical-align: top
		width: 19
		height: 19
		margin: 0 3px 0 0
		border: 3px solid #e0edf3
	input[type=radio] + label
		cursor: pointer
	input[type=radio]:not(checked)
		position: absolute
		opacity: 0
	input[type=radio]:not(checked) + label
		position: relative
		padding: 0 0 0 35px
	input[type=radio]:not(checked) + label:before
		content: ''
		position: absolute
		top: 5px
		left: 0
		width: 19px
		height: 19px
		border: 2px solid #e0edf3
		border-radius: 50%
		background: transparent
	input[type=radio]:not(checked) + label:after
		content: ''
		position: absolute
		top: 10px
		left: 5px
		width: 9px
		height: 9px
		border-radius: 50%
		background: #e0edf3
		opacity: 0
		transition: all .2s
	input[type=radio]:checked + label:after
		opacity: 1
// box_sotrudn
.box_sotrudn
	display: flex
	justify-content: flex-start
	margin-bottom: 60px
	.description_holder
		.description_title
			color: #414141
			font-size: 20px
			font-weight: 700
		.description_text
			font-size: 18px
			color: #414141
			ul
				padding: 0
				margin: 0
				li
					list-style-type: none
					&:last-child
						a
							color: $lpc
					a
						color: #414141
	.img_holder
		margin-right: 65px
.descr_magaz
	display: flex
	align-items: flex-start
	.number_magaz
		font-family: 'TornadoMed'
		font-size: 100px
		line-height: 100px
		font-weight: 700
		margin-right: 10px
		color: #a82553
	.txt_magaz
		p
			color: #414141
			line-height: 20px
.seo_help
	p
		font-size: 13px
		color: #a1a1a1
.city_magaz_wrap
	margin-top: 80px
.holder_magaz_city
	display: flex
	align-items: flex-start
	margin-bottom: 50px
	.letter_holder
		font-size: 48px
		line-height: 48px
		color: #a82553
		font-family: 'TornadoMed'
		margin-right: 15px
	.citys_holder
		ul
			margin: 0
			padding: 0
			li
				list-style-type: none
				a
					color: #414141
				span
					margin-left: 5px
					color: #aeaeae
					font-size: 14px
.info_person
	display: flex
	.description_info
		ul
			margin: 0
			padding: 0
			li
				list-style-type: none
				a
					font-size: 18px
					color: #414141
					line-height: 22px
				&:nth-child(2)
					a
						color: $lpc
	.img_person
		margin-right: 20px
		img
			width: 100%
			max-width: 68px
.kabine_stol
	padding-left: 80px
	margin-top: 50px
	.box_info_kabinet
		background: #f4f7fa
		padding: 40px 60px
		margin-bottom: 30px
		height: 265px
		display: flex
		justify-content: space-around
		flex-flow: column wrap
		.title_box
			font-size: 20px
			line-height: 29px
			color: #414141
			font-family: 'TornadoMed'
		.info_box
			ul
				margin: 0
				padding: 0
				width: 100%
				max-width: 170px
				li
					list-style-type: none
					color: #414141
					font-size: 18px					
					display: flex
					justify-content: space-between
					span
						font-weight: 900
		.info_more
			margin-top: 20px
			a
				color: #8fa2b5
				font-size: 18px
				background: transparent
				border: 4px solid #8fa2b5
				padding: 5px 35px
				border-radius: 25px
				width: 100%
				max-width: 250px
				display: block
				text-align: center
				transition: all 0.75s
				&:hover
					background: #8fa2b5
					color: #fff
					text-decoration: none
.box_info_kabinet.skidka
	p
		color: #a72553
		margin-top: 20px
		font-size: 70px
		line-height: 70px
.hott_sale 
	.icon_new
		top: 10px
.box_sotrudn.vac
	ul
		li
			&:before
				content: '-'
				margin-right: 15px
				font-size: 25px
				line-height: 20px
	.description_title
		margin-bottom: 30px
.get_send_info
	color: #414141
	font-size: 18px
	margin:
		left: 180px
		top: 30px
		bottom: 50px
	a
		color: $lpc

.accordion
	width: 100%
	min-height: 300px
	margin: 20px auto
.accordion-item
	font-size: 1em
	display: flex
	justify-content: flex-start
	align-items: center
	margin-bottom: 20px
	height: auto	
	font-weight: 500	
	p
		border-bottom: 1px dashed #000
		color: #000
		font-size: 20px
		cursor: pointer
	.count
		margin-right: 10px
		font-size: 20px
.accordion-item.open
	p
		border-bottom: 1px solid transparent
		border-bottom: 0px
div.data
	padding: 15px 0
	line-height: 140%
	display: none
	color: #414141
	line-height: 22px
	ul
		margin: 10px 0
		padding: 0
		li
			list-style-type: none
			&:before
				content: '-'
				font-size: 20px
				line-height: 18px
				margin-right: 10px
// confirm registration
.confirm_regisration_wrapper
	background: #f4f7fa
	height: 100%
	min-height: 530px
	margin: 80px 0
	display: flex
	justify-content: space-around
	align-items: center
	flex-flow: column wrap
	text-align: center
	.box_confirm
		h2
			font-size: 20px
	.get_social
		ul
			display: flex
			align-items: center
			justify-content: center
			margin: 15px  0
			padding: 0
			li
				list-style-type: none
				margin-right: 25px
				a
					transition: all 0.75s
					display: block
					span
						width: 21px
						height: 24px
						display: block
						background: url(../img/icon_set.png) no-repeat
						background-position: -113px -96px
				&:nth-child(2)
					a
						span
							background-position: -158px -91px
							height: 30px 
				&:nth-child(3)
					margin-right: 0
					a
						span
							background-position: -213px -91px
							height: 30px 
				a:hover
					filter: contrast(130%)
.contact_box
	.contact_holder
		margin-bottom: 20px
		position: relative
		ul
			margin: 0
			padding: 0
			li
				list-style-type: none
				color: #414141
				font-size: 18px
				a
					color: $lpc
		&:first-child
			.icon_holder
				width: 20px
				height: 28px
				position: absolute
				top: 0
				left: -35px
				display: block
				filter: contrast(0%)
				background: url(../img/icon_set.png) no-repeat
				background-position:  -137px -30px	
		&:nth-child(2)
			.icon_holder
				width: 20px
				height: 28px
				position: absolute
				filter: contrast(0%)
				top: 0
				left: -35px
				display: block
				background: url(../img/icon_set.png) no-repeat
				background-position: -95px -30px
		&:nth-child(3)
			.icon_holder
				width: 20px
				height: 28px
				position: absolute
				filter: contrast(0%)
				top: 0
				left: -35px
				display: block
				background: url(../img/icon_set.png) no-repeat
				background-position:  -117px -30px
.location_holder
	margin-bottom: 30px
.manager_holder
	display: flex
	margin-bottom: 30px
	.img_holder
		margin-right: 20px
	.name_manager
		color: #414141
		font-size: 20px
		margin-bottom: 10px
		font-weight: 900
	.contact_manager
		display: flex
		flex-flow: column wrap
		a
			color: #414141
			font-size: 18px
			&:first-child
				color: $lpc
	.but_get_call
		margin-top: 30px
		a
			border: 4px solid $lpc
			padding: 5px 20px
			display: block
			font-size: 16px
			color: $lpc
			transition: all 0.75s
			border-radius: 25px
			&:hover
				background: $lpc
				color: #fff
				text-decoration: none
.manager_wrap
	margin-bottom: 60px
.cart_table_progress
	margin-bottom: 20px
	ul
		margin: 0
		padding: 0
		display: flex
		li
			list-style-type: none
			padding-left: 20px
			font-size: 20px
			line-height: 29px
			color: #414141
			font-weight: 900
			&:after
				content: ''
				background: url(../img/icon_dost.png) no-repeat
				width: 71px
				height: 2px
				display: inline-block
				margin: 0 5px
				vertical-align: middle
			&:last-child
				&:after
					display: none
			&.active
				color: #a82553

.cart_wrap_inner_table
	padding-left: 60px
	margin-top: 40px
.cart_wrap_inner_table_holder
	background: #f4f7fa
	padding: 15px
	.cart_wrap_inner_table_articul
		background: #fff
		padding: 15px
.table_tr
	display: flex
	background: #fff
	align-items: center
	justify-content: flex-start
	.table_td:nth-child(1)
		flex: 1 1 160px
	.table_td:nth-child(2)
		flex: 1 1 125px
	.table_td:nth-child(3)
		flex: 1 1 125px
	.table_td:nth-child(4)
		flex: 1 1 70px
	.table_td:nth-child(5)
		flex: 1 1 130px
	.table_td:nth-child(6)
		flex: 1 1 80px
	.table_td:nth-child(7)
		flex: 1 1 160px
.cart_wrap_inner_table_holder.not_reg
	margin-bottom: 40px
	.table_tr
		.table_td:nth-child(1)
			flex: 1 1 45px
		.table_td:nth-child(2)
			flex: 2 1 150px
		.table_td:nth-child(3)
			flex: 3 1 250px
		.table_td:nth-child(4)
			flex: 4 1 170px
		.table_td:nth-child(5)
			flex: 5 1 170px
	.table_cart_tbody
		.table_tr
			.table_td:nth-child(2)
				text-align: center
				position: relative
				.icon_zoom
					cursor: pointer
					z-index: 2
					position: absolute
					bottom: 15px
					right: 10px
					width: 24px
					height: 24px
					pointer-events: none
					display: block
					background: url(../img/icon_zoom_small.png) no-repeat
					background-position: 0 0
	.count_prod
		position: initial !important
.buts_holder.not_reg
	margin-bottom: 40px
	justify-content: flex-end
.table_cart_tbody
	margin-top: 2px
	.table_tr
		margin-bottom: 2px
		.table_td:first-child
			text-align: center
			.icon_zoom
				cursor: pointer
				z-index: 2
				position: absolute
				bottom: 15px
				right: 10px
				width: 24px
				height: 24px
				pointer-events: none
				display: block
				background: url(../img/icon_zoom_small.png) no-repeat
				background-position: 0 0
			&
				position: relative
		.count_prod
			position: absolute
			top: 15px
			left: 15px
		.table_td:last-child
			display: flex
			justify-content: flex-start
			.icon_like
				cursor: pointer
				margin-left: 30px
				width: 21px
				height: 19px
				display: block
				background: url(../img/icon_set.png) no-repeat
				background-position: -69px -34px
			.icon_cancel
				cursor: pointer
				margin-left: 10px
				width: 21px
				height: 19px
				display: block
				background: url(../img/icon_set.png) no-repeat
				background-position: -192px -34px
		.get_sum
			display: flex
			justify-content: flex-end
			margin-right: 80px
			padding: 12px 0
			width: 100%
			p
				span
					font-size: 22px
					margin-left: 25px
.alarm_info
	margin: 40px 0
	text-align: center
	h3
		color: #a82553
		font-size: 18px
		font-weight: 900
.promokod_info
	display: flex
	align-items: center
	margin-bottom: 20px
	.promokod_holder
		margin-right: 40px
		.input_holder
			input
				background: transparent
				border: 0
				border-bottom: 2px solid #414141
				color: #414141
				font-size: 20px
				&:placeholder
					color: #414141
		.get_promo
			a
				border: 4px solid $lpc
				padding: 5px 75px
				display: block
				font-size: 16px
				color: $lpc
				transition: all 0.75s
				border-radius: 25px
				&:hover
					background: $lpc
					color: #fff
					text-decoration: none
		.finel_sum
			p
				color: #414141
				font-size: 18px
				span
					font-size: 22px
					margin-left: 30px
		&:last-child
			margin-right: 0
.get_more_holder
	display: flex
	background: $lpc	
	margin: 40px 0
	justify-content: flex-start
	align-items: center
	.get_more_holder_box:first-child
		background: #a82553
		&:after
			content: ''
			display: block
			position: absolute
			right: -43px
			top: 0px
			width: 0
			height: 0
			border-style: solid
			border-width: 134px 43px 0 0
			border-color: #a82553 transparent transparent transparent
		p
			font-size: 20px
			font-weight: 900
	.get_more_holder_box
		color: #fff
		padding: 35px
		width: calc(100%/3)
		font-size: 16px
		display: flex
		position: relative
		margin-left: 43px
		.gat_act
			font-size: 52px
			line-height: 50px
			margin-left: 15px
		&:first-child
			width: 260px
			margin-left: 0
		&:last-child
			margin-left: 0
.buts_holder
	display: flex
	justify-content: center
	align-items: center
	margin: 20px
	.buts_more
		margin-right: 20px
		a
			border: 4px solid $lpc
			padding: 5px 15px
			display: block
			font-size: 16px
			color: $lpc
			width: 240px
			text-align: center
			transition: all 0.75s
			border-radius: 25px
			&:hover
				background: $lpc
				color: #fff
				text-decoration: none	
		&:last-child
			margin-right: 0	
.box_went
	display: flex
	justify-content: flex-start
	align-items: center
	width: 100%
	padding: 30px
	.input_holder
		select
			border: 0
			border-bottom: 2px solid #000
			width: 320px
			color: #000
	.but_add
		margin-left: 30px
		a
			border: 4px solid $lpc
			padding: 5px 45px
			display: block
			font-size: 16px
			color: $lpc
			transition: all 0.75s
			border-radius: 25px
			&:hover
				background: $lpc
				color: #fff
				text-decoration: none






.box_del_radio_holder
	display: flex
	justify-content: flex-start
	flex-flow: column wrap
	margin-top: 20px
	.input_holder
		label
			color: #414141
			font-size: 16px
		.radio_opl	
			vertical-align: top
			width: 19
			height: 19
			margin: 0 3px 0 0
			border: 3px solid $lpc
		.radio_opl + label
			cursor: pointer
		.radio_opl:not(checked)
			position: absolute
			opacity: 0
		.radio_opl:not(checked) + label
			position: relative
			padding: 0 0 0 35px
		.radio_opl:not(checked) + label:before
			content: ''
			position: absolute
			top: 0px
			left: 0
			width: 19px
			height: 19px
			border: 2px solid $lpc
			border-radius: 50%
			background: transparent
		.radio_opl:not(checked) + label:after
			content: ''
			position: absolute
			top: 5px
			left: 5px
			width: 9px
			height: 9px
			border-radius: 50%
			background: $lpc
			opacity: 0
			transition: all .2s
		.radio_opl:checked + label:after
			opacity: 1
.box_del_title
	font-size: 20px
	flex: 1 1 100%
.box_delivery
	padding: 30px 50px
	.box_del_wrap
		display: flex
		flex-flow: row wrap
		justify-content: flex-start
		align-items: center

	.box_info_del , .box_delivery_holder
		width: 45%
	.box_info_del
		margin-top: 10px
.cart_wrap_inner_table_holder.not_reg.srav
	.table_td.img_holder
		height: 155px
		width: 155px
	.table_td
		width: 190px !important
		flex: initial !important
		padding: 20px 10px
	.table_cart_tbody 
		.table_tr
			.table_td:nth-child(2)
				text-align: left
			.table_td:nth-child(1)
				width: 95px !important
				text-align: left

				.count_prod
					font-size: 10px
					text-transform: uppercase
					color: #414141
			.table_td
				.icon_like
					margin-left: 0
	.cart_wrap_inner_table_articul
		.table_tr
			.table_td:nth-child(1)
				width: 95px !important

	.table_tr_buts
		display: flex
		background: transparent
		align-items: center
		justify-content: flex-start
		.table_td:nth-child(1)
				width: 95px !important
				text-align: left
		.but_holder
			a
				border: 4px solid #8fa2b5
				padding: 10px 25px
				color: #8fa2b5
				background: transparent
				border-radius: 25px
				transition: all 0.75s
				&:hover
					background: #8fa2b5
					color: #fff
					text-decoration: none
.go_to_cart
	text-align: center
	margin: 30px 0
	a
		color: $lpc
		border: 4px solid $lpc
		background: transparent
		display: inline-block
		text-align: center
		padding: 10px 0
		width: 100%
		max-width: 310px
		border-radius: 25px
		transition: all 0.75s
		&:hover
			background: $lpc
			color: #fff
			text-decoration: none
// cart holder item
.cart_tovar_holder
	display: none
	position: absolute
	top: 40px
	right: 0
	width: 275px
	border: 1px solid $lpc
	background: #fff
	padding: 18px
	z-index: 22
	.cart_tovar_holder_title
		font-size: 18px
		color: #414141
		font-weight: 900
		padding-top: 50px
	.cart_tovar_holder_buts
		display: flex
		flex-flow: row wrap
		justify-content: center
		.buts_holder
			color: $lpc
			cursor: pointer
			margin: 10px
			a
				color: $lpc
				border: 2px solid $lpc
				background: transparent
				padding: 5px 10px
				display: block
				border-radius: 25px
				transition: all 0.75s
				&:hover
					background: $lpc
					color: #fff
					text-decoration: none
	.box_item_holder
		min-height: 240px
		position: relative
		margin-bottom: 20px
		// filter: contrast(70%)
		// transition: all 0.75s
		// &:hover
		// 	filter: contrast(100%)
		.img_holder
			width: 159px
			height: 159px
			img
				width: 100%
		.descrt_box
			color: #414141
			font-size: 14px
			span
				margin-right: 10px
		.icon_cancel
			position: absolute
			top: 0
			left: 5px
			cursor: pointer
			filter: contrast(10%)
			border: 0
			width: 21px
			height: 19px
			display: block
			background: url(../img/icon_set.png) no-repeat
			background-position: -192px -34px
	.cart_tovar_holder_wrap
		overflow-x: hidden
		height: 400px
// forms pop_up
.pop_up_wrap
	background: #fff
	width: 100%
	max-width: 670px
	position: relative	
	margin: 0 auto
	.form_title
		margin-bottom: 20px
		p
			font-size: 24px
			color: #000
	.form_wrapp
		padding: 80px 90px 40px 90px
	.form_tabs
		margin-bottom: 20px
		ul
			margin: 0
			padding: 0
			display: flex
			li
				margin-right: 15px
				list-style-type: none
				&:last-child
					margin-right: 0
				a
					color: $lpc
			li.ative
				a
					color: #000
	.input_holder
		margin-bottom: 20px
		input
			background: transparent
			border: 0
			border-bottom: 2px solid #646667
			color: #414141
			width: 100%
			&::placeholder
				color: #414141

	.buts_holder
		justify-content: flex-start
		margin: 40px 0
		.but_boxs
			input
				color: $lpc
				background: transparent
				border: 0
		.but_boxs.login
			margin-right: 20px
			input[type=submit]
				color: $lpc
				background: transparent
				border: 4px solid $lpc
				border-radius: 25px
				padding: 5px 55px
				transition: all 0.75s
				&:hover
					background: $lpc
					color: #fff
					text-decoration: none

	.input_chek
		justify-content: flex-start
		input[type=radio]:not(checked)+label:before
			top: 0
			border: 2px solid #a1a1a1
		input[type=radio]:not(checked)+label:after
			top: 5px
			background: #a1a1a1
		label
			color: #a1a1a1
			font-size: 14px
	.get_social
		background: #f0f4f8
		padding: 20px 90px 55px 90px
		ul
			display: flex
			align-items: center
			justify-content: flex-start
			margin: 15px  0
			padding: 0
			li
				list-style-type: none
				margin-right: 25px
				a
					transition: all 0.75s
					display: block
					span
						width: 21px
						height: 24px
						display: block
						background: url(../img/icon_set.png) no-repeat
						background-position: -113px -96px
				&:nth-child(2)
					a
						span
							background-position: -158px -91px
							height: 30px 
				&:nth-child(3)
					margin-right: 0
					a
						span
							background-position: -210px -91px
							height: 30px 
				a:hover
					filter: contrast(130%)
		p
			display: none
		p.active_tabs
			display: block
.form_tabs_wrap_box
	display: none
.form_tabs_wrap_box.active_tabs
	display: block
.input_holder_wrap_holder
	display: flex
	flex-flow: row wrap
	justify-content: space-between
	.input_holder_wrap
		width: 45%
	.input_get
		margin-top: 70px
		color: $lpc
		cursor: pointer
		font-weight: 900
	input[type=submit]
		color: $lpc
		margin-top: -15px
		background: transparent
		border: 4px solid $lpc
		border-radius: 25px
		padding: 5px 25px
		transition: all 0.75s
		&:hover
			background: $lpc
			color: #fff
			text-decoration: none
.chose_box
	margin-bottom: 20px
	.input_chek
		justify-content: flex-start
		margin-top: 15px
		input[type=radio]:not(checked)+label:before
			top: 0
			border: 2px solid $lpc
		input[type=radio]:not(checked)+label:after
			top: 5px
			background: $lpc
		label
			color: $lpc
			font-size: 14px
.pop_up_wrap.add_dost
	.form_wrapp
		width: 330px
		padding: 80px 0
		margin: 0 auto
		.buts_holder 
			.but_boxs.login
				width: 100%
				margin-right: 0
				input[type=submit]
					width: 100%
.pop_up_wrap.search
	.search_wrap
		.img_holder
			width: 155px
			height: 155px
			img
				width: 100%
		.info_product
			width: 100%
			max-width: 210px
			margin-top: 20px
			margin-left: 20px
		.input_holder
			margin-top: 20px
			max-width: 150px
			select
				background: transparent
				border: 0
				border-bottom: 2px solid #646667
				color: #414141
				width: 100%
				&::placeholder
					color: #414141
	.search_holder_info
		display: flex
		flex-flow: row wrap
		justify-content: flex-start
	.search_holder_result
		display: flex
		justify-content: space-between
		margin-bottom: 20px
	.info_box
		margin-top: 30px
		p
			font-size: 13px
.product_holder
	position: relative
.box_descr_more
	position: absolute
	top: 0
	left: 0
	background: #fff
	z-index: 2
	width: 500px
	height: 430px
	border: 1px solid $lpc
	padding: 10px
	display: none
	.img_holder
		width: 230px
		height: 230px
		margin-right: 30px
		display: flex
		align-items: flex-end
		img
			width: 100%
	.img_katalog_many
		.img_thumb_holder
			width: 130px
			height: 130px
			img
				width: 100%
	.box_holder_img
		display: flex
		justify-content: space-between
		.img_katalog_many
			display: flex
			flex-flow: row wrap
	.bottom_holder
		display: flex
		flex-flow: row wrap
		justify-content: space-between
		margin-top: 20px
		font-size: 15px
		.buts_holder
			margin: 0
			.but_add_cart
				margin: 0
	.icon_like
		cursor: pointer
		position: absolute
		top: 15px
		right: 10px
		width: 21px
		height: 19px
		display: block
		background: url(../img/icon_set.png) no-repeat
		background-position: -69px -34px

	.icon_cancel
		position: absolute
		top: 0
		left: 5px
		cursor: pointer
		filter: contrast(10%)
		width: 21px
		height: 19px
		display: block
		background: url(../img/icon_set.png) no-repeat
		background-position: -192px -34px
.table_td.img_holder
	position: relative
	.icon_like
		cursor: pointer
		position: absolute
		top: 10px
		right: 30px
		margin-left: 30px
		width: 21px
		height: 19px
		display: block
		background: url(../img/icon_set.png) no-repeat
		background-position: -69px -34px
	.icon_cancel
		cursor: pointer
		margin-left: 10px
		position: absolute
		top: 10px
		right: 5px
		width: 21px
		height: 19px
		display: block
		background: url(../img/icon_set.png) no-repeat
		background-position: -192px -34px
span.icon_drop
	font-size: 18px
	color: #fff
	margin-right: -35px
	display: none
	margin-left: 15px
.lSSlideOuter .lSPager.lSGallery img
	width: 100%
	max-width: 150px
	height: 150px
	object-fit: cover
.slider_more_product
	.next_button
		right: -50px
		&:before
			content: ''
			background: url(../img/icon_set.png) no-repeat
			width: 40px
			height: 64px
			display: block
			background-position: 0px -88px
			transform: rotate(180deg)
	.prev_button
		left: -50px
		&:before
			content: ''
			background: url(../img/icon_set.png) no-repeat
			width: 40px
			height: 64px
			display: block
			background-position: 0px -88px
	.prev_button,
	.next_button
		position: absolute
		top: 50%
		transform: translateY(-50%)
	li
		a
			img
				width: 100%
				max-width: 216px
				height: 240px
				object-fit: cover
.top_line.fixed_nav
	position: fixed
	left: 0
	top: 0
	width: 100%
	z-index: 2222
// new style -------------------------------------
.content_inner
	.colors_product
		li
			display: flex
			width: 100%
			a
				margin-right: 10px
				&:last-child
					margin-right: 0




.img_katalog_many
	margin: 0
	padding: 0
	height: 260px
	overflow-x: scroll
	li
		list-style-type: none
.wrap_holders_item
	display: none
	&.active_tabs
		display: block
//ALWAYS END
@import "media"